{% extends "base.html" %}
{% load markdownify %}

{% block content %}
    <div>
        <h1>{{ProjectDetails.name}}</h1>
        {{ProjectDetails.description|markdownify}}
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>

        {% if ProjectDetails.tasks.all|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for details in ProjectDetails.tasks.all %}
                        <tr>
                            <td>{{details.name}}</td>
                            <td>{{details.assignee}}</td>
                            <td>{{details.start_date}}</td>
                            <td>{{details.due_date}}</td>
                            <td>{{details.is_completed}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
